@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    El Dorado County Office of Education<br />
    6767 Green Valley Road<br />
    Placerville, CA  95667<br />
    <abbr title="Phone">P:</abbr>
    530-622-7130
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:helpdesk@edcoe.org">helpdesk@edcoe.org</a><br />
</address>